<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpearVillager</key>
	<array>
		<string>SpearVillager.png</string>
		<integer>20</integer>
		<integer>20</integer>
		<true/>
		<real>0.75</real>
		<integer>500</integer>
		<string>Spear</string>
	</array>
	<key>Lion</key>
	<array>
		<string>Lion.png</string>
		<integer>20</integer>
		<integer>20</integer>
		<false/>
		<integer>0</integer>
		<integer>0</integer>
		<string></string>
	</array>
</dict>
</plist>
