<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Elephants</key>
		<array>
			<array>
				<string>300</string>
				<string>300</string>
			</array>
			<array>
				<string>200</string>
				<string>200</string>
			</array>
			<array>
				<integer>100</integer>
				<integer>100</integer>
			</array>
		</array>
		<key>Mouse Spawn Points</key>
		<array>
			<array>
				<string>224</string>
				<string>144</string>
			</array>
			<array>
				<string>224</string>
				<string>304</string>
			</array>
			<array>
				<string>224</string>
				<string>16</string>
			</array>
			<array>
				<string>464</string>
				<string>304</string>
			</array>
			<array>
				<string>464</string>
				<string>16</string>
			</array>
			<array>
				<string>464</string>
				<string>144</string>
			</array>
			<array>
				<string>16</string>
				<string>144</string>
			</array>
			<array>
				<string>16</string>
				<string>304</string>
			</array>
			<array>
				<string>16</string>
				<string>16</string>
			</array>
		</array>
		<key>Enemies</key>
		<array>
			<array>
				<string>Lion</string>
				<integer>32</integer>
				<integer>32</integer>
			</array>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>Enemies</key>
		<array>
			<array>
				<string>SpearVillager</string>
				<integer>150</integer>
				<integer>32</integer>
			</array>
			<array>
				<string>SpearVillager</string>
				<integer>32</integer>
				<integer>32</integer>
			</array>
		</array>
		<key>Mouse Spawn Points</key>
		<array>
			<array>
				<string>224</string>
				<string>144</string>
			</array>
			<array>
				<string>224</string>
				<string>304</string>
			</array>
			<array>
				<string>224</string>
				<string>16</string>
			</array>
			<array>
				<string>464</string>
				<string>304</string>
			</array>
			<array>
				<string>464</string>
				<string>16</string>
			</array>
			<array>
				<string>464</string>
				<string>144</string>
			</array>
			<array>
				<string>16</string>
				<string>144</string>
			</array>
			<array>
				<string>16</string>
				<string>304</string>
			</array>
			<array>
				<string>16</string>
				<string>16</string>
			</array>
		</array>
		<key>Elephants</key>
		<array>
			<array>
				<string>200</string>
				<string>200</string>
			</array>
			<array>
				<integer>100</integer>
				<integer>100</integer>
			</array>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>Enemies</key>
		<array>
			<array>
				<string>Poacher</string>
				<integer>150</integer>
				<integer>32</integer>
			</array>
			<array>
				<string>Poacher</string>
				<integer>32</integer>
				<integer>32</integer>
			</array>
		</array>
		<key>Mouse Spawn Points</key>
		<array>
			<array>
				<string>224</string>
				<string>144</string>
			</array>
			<array>
				<string>224</string>
				<string>304</string>
			</array>
			<array>
				<string>224</string>
				<string>16</string>
			</array>
			<array>
				<string>464</string>
				<string>304</string>
			</array>
			<array>
				<string>464</string>
				<string>16</string>
			</array>
			<array>
				<string>464</string>
				<string>144</string>
			</array>
			<array>
				<string>16</string>
				<string>144</string>
			</array>
			<array>
				<string>16</string>
				<string>304</string>
			</array>
			<array>
				<string>16</string>
				<string>16</string>
			</array>
		</array>
		<key>Elephants</key>
		<array>
			<array>
				<string>200</string>
				<string>200</string>
			</array>
			<array>
				<integer>100</integer>
				<integer>100</integer>
			</array>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>Enemies</key>
		<array>
			<array>
				<string>Soldier</string>
				<integer>150</integer>
				<integer>32</integer>
			</array>
			<array>
				<string>Soldier</string>
				<integer>32</integer>
				<integer>32</integer>
			</array>
		</array>
		<key>Mouse Spawn Points</key>
		<array>
			<array>
				<string>224</string>
				<string>144</string>
			</array>
			<array>
				<string>224</string>
				<string>304</string>
			</array>
			<array>
				<string>224</string>
				<string>16</string>
			</array>
			<array>
				<string>464</string>
				<string>304</string>
			</array>
			<array>
				<string>464</string>
				<string>16</string>
			</array>
			<array>
				<string>464</string>
				<string>144</string>
			</array>
			<array>
				<string>16</string>
				<string>144</string>
			</array>
			<array>
				<string>16</string>
				<string>304</string>
			</array>
			<array>
				<string>16</string>
				<string>16</string>
			</array>
		</array>
		<key>Elephants</key>
		<array>
			<array>
				<string>200</string>
				<string>200</string>
			</array>
			<array>
				<integer>100</integer>
				<integer>100</integer>
			</array>
		</array>
	</dict>
	<key>5</key>
	<dict>
		<key>Enemies</key>
		<array>
			<array>
				<string>Tank</string>
				<integer>150</integer>
				<integer>32</integer>
			</array>
			<array>
				<string>Tank</string>
				<integer>32</integer>
				<integer>32</integer>
			</array>
		</array>
		<key>Mouse Spawn Points</key>
		<array>
			<array>
				<string>224</string>
				<string>144</string>
			</array>
			<array>
				<string>224</string>
				<string>304</string>
			</array>
			<array>
				<string>224</string>
				<string>16</string>
			</array>
			<array>
				<string>464</string>
				<string>304</string>
			</array>
			<array>
				<string>464</string>
				<string>16</string>
			</array>
			<array>
				<string>464</string>
				<string>144</string>
			</array>
			<array>
				<string>16</string>
				<string>144</string>
			</array>
			<array>
				<string>16</string>
				<string>304</string>
			</array>
			<array>
				<string>16</string>
				<string>16</string>
			</array>
		</array>
		<key>Elephants</key>
		<array>
			<array>
				<string>200</string>
				<string>200</string>
			</array>
			<array>
				<integer>100</integer>
				<integer>100</integer>
			</array>
		</array>
	</dict>
</dict>
</plist>
